certifi==2022.12.7
chardet==3.0.4
coverage==4.5.2
idna==2.8
mock==2.0.0
pbr==5.1.2
requests==2.21.0
requests-mock==1.5.2
six==1.12.0
flask==1.1.2
flask-cors==3.0.8
flask-jwt-extended==3.24.1
mysql-connector-python==8.0.19
unittest2==1.1.0
