.Event-form {
    font-family: Roboto, sans-serif;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    /*border: 0.15rem solid darkolivegreen;*/
    top: 130px;
}

.Event-input {
    display: block;
}

.Form-button {
    margin: 1rem auto;
}

.Form-Div {
    margin: 1rem auto;
    width: 50%;
    padding: 1rem;
    border: 0.15rem solid rgb(115,140,115);
}

.Event-form {
    font-family: Roboto, sans-serif;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    top: 130px;
    background-color: darkseagreen;
}

.Event-input {
    display: block;
}

.Form-button {
    margin: 1rem auto;
}

.Form-Div {
    margin: 1rem auto;
    width: 50%;
    padding: 1rem;
    /*border: 0.15rem solid darkolivegreen;*/
}