.CreateEventForm {
    margin: auto;
    width: 50%;
    background-size: cover;
    align-items: center;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: auto;
    top: 130px;
}
.CreateEventPage{
    align-items: center;
    margin: auto;
    overflow: auto;
    display: flex;
    background-size: cover;
    flex-direction: column;
    background-color: darkseagreen;
}
.Event-header{
    background-color: #555;
    top: 0;
    left: 0;
    right: 0;
    height: 125px;
    align-items: center;
    box-shadow: 0 0 25px 0 darkolivegreen;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 99;
}
.Nav-Bar{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.title{
    padding-top: 20px;
    align-self: center;
    font-family: Roboto, sans-serif;
}

.Tab-Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.Event-body {
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
    padding: 30px;
    align-items: center;
    text-align: center;
}
