.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Nav-Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}


.Home-header {
    background-color: #555;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 125px;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}
