.HomePage {
    display: inline-flex;
    background-color: white;
    margin: auto;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.Home-header {
    background-color: #555;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 125px;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}
.Nav-Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.Home-body {
    display: block;
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
    margin-bottom: 130px;
    align-items: center;
    text-align: center;
    padding-bottom: 50%;
    padding-top: 60%;
}