.HomePage {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: darkseagreen;
    background-image: url('hands.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Home-body {
    display: flex;
    flex-direction: column;
    justify-items: right;
    background-size: cover;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

.Home-title{
    justify-self: center;
    align-self: center;
    display: inline-table;
    width: 100%;
    height: 100%;
    font-family: "Lucida Bright", sans-serif;
    font-style: italic;
    font-size: 48px;
}