.RegistrationForm {
    margin: auto;
    width: 50%;
    background-size: cover;
    align-self: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.RegistrationPage{
    align-self: center;
    background-color: darkseagreen;
    margin: auto;
    overflow: auto;
    display: flex;
    background-size: cover;
    flex-direction: column;
}

.Reg-title{
    align-self: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.Reg-body {
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 130px;
    padding: 30px;
    align-items: center;
    text-align: center;
}
