.RegistrationForm {
    margin: auto;
    width: 50%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.RegistrationPage{
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: auto;
    display: flex;
    background-size: cover;
}
.Reg-header {
    background-color: #555;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 125px;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}
.Nav-Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.Tab-Bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.Reg-body {
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 130px;
    padding: 30px;
    align-items: center;
    text-align: center;
}
